@charset "utf-8";
/* CSS Document */

html{
    font-size: 62.5%;
}

body{
    width:100%;
    margin:0 auto;
}

.bn_top{
    width:100%;
    height:10.4rem;
    color:#FFF;
    background-color:#F74056;
    position:relative;
}
.t_left{
    font-size:1.4rem;
    line-height: 10.4rem;
    font-size: 5.4rem;
    float:left;
}
.t_left a{
    text-decoration:none;
    color:#FFF;
}

.t_right{
    font-size: 5.4rem;
    line-height:10.4rem;
    text-align: center;
    margin-right: 10rem;
}

.c_top
{
    width:100%;
    height:8.4rem;
    color:#7A7878;
    font-size:3.4rem;
    line-height:8.4rem;
    padding-top:0.3rem;
}

.c_top_1
{
    width: 50%;
    text-align: center;
    float: left;
}

.c_top_2
{
    width:50%;
    text-align: center;
    float: left;
}

.m_1 {
    width: 80%;
    height: 8.4rem;
    text-align: center;
    line-height:8.4rem;
    padding-left: 4.6rem;
}

.m_left_1{
    width: 50%;
    float: left;
    font-size: 3.4rem;
}

.m_right_1{
    width: 50%;
    float: left;
    font-size: 3.4rem;
}

.m_right_1 select{
    background-color:#D9D9D9;
    border-radius:7%;
    border:0.1rem solid #000;
    color:#7A7878;
    font-size:3.4rem;
    width:14.4rem;
    height:3.4rem;
}

.m_right_1 input{
    background-color:#D9D9D9;
    border-radius:7%;
    border:0.1rem solid #000;
    text-align:center;
    font-size:3.4rem;
    color:#7A7878;
    opacity:0.5;
    width:14.4rem;
    height:3.4rem;"
}

.footer{
    position: fixed;
    bottom: 0;/*设置bottom让底部栏一直悬浮在网页底部*/
    width: 100%;
    height:8.4rem;
    background-color:white;
    border-top: #dcdcdc 1px solid;
    z-index: 97;
    padding:0px;
    margin:0px;
    padding-bottom:2px;
    padding-top:2px
}

.f_left{
    float: left;
    font-size: 3.4rem;
    line-height: 8.4rem;
}

.f_right{
    float: right;
    font-size: 3.4rem;
    line-height:  8.4rem;
}

.f_right button{

}

/*保内维修结束*/

/*拆装开始*/
.conent {
    margin-left:0.5rem;
    margin-right:0.5rem;
    border-radius:0.3rem;
}

.twoQ{
    width:100%;
    background-color:#FFF;
    border-radius:0.5rem;
    margin-top:0.5rem;
    font-size:3rem;
    line-height:3.4rem;
    margin-bottom:0.5rem;
}


.hang,.hang1{
    width: 100%;
    margin-left: 3rem;
    line-height: 200%;
}

.hang2{
    width:100%;
    height:5.8rem;
    line-height: 5.8rem;
    background-color:#F4F4F4;
}

.threeQ2{
    float:right;
    margin-right:3.4rem;
    color:#F74056;
}

.h_span, .h_span2 {
    float:right;
    margin-right:4rem;
    color:#AEAEAE;
}

.h_span input{
    border: solid 0.1rem #7A7878;
    background-color: white;
    color:#AEAEAE;
    width: 4.0rem;
    font-size: 2.8rem;
    text-align: center;
}

.h_span2 input{
    border:none;
    background-color: white;
    color:#AEAEAE;
    width: 4.0rem;
    font-size: 2.8rem;
    text-align: center;
}

.hang2 span{
    margin-left: 3rem;
}

.twoQ2{
    margin-left: 10rem;
    color:#AEAEAE;
}

.bottom_sh_ly input{
    width: 95%;
    height: 8rem;
    border: none;
    background-color: #E8E8E8;
    margin-bottom: 5rem;
}



ul, li {
    list-style: none;
}
