<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
	<link rel="stylesheet" href="__CSS__/main.css" />
</head>
<body>
	
	<div class="logo">
		<img src="__IMAGE__/logo.png" />
	</div>
	
	<div class="text">
		<span>女神们，你每天还在为了</span><br/>
		<span>油烟机上那厚厚的油垢...</span><br/>
		<span>灶具上的一层层黑衣衫...</span><br/>
		<span>拧开热水器而流出来的脏水...</span><br/>
		<span>而在烦恼吗？</span>
	</div>
	
	<div class="text2">
		<span>再也不用怕了！</span><br/>
		<span>家电医生马上为您解决！</span>
	</div>
	
	<div class="center_1">
		<div class="c_img">
			<img src = "__IMAGE__/c1.png"/>
		</div>
		<div class="c_text">
			<p>使女性的面部皮肤因子活性下降，灰暗而粗糙，充满皱纹，多少化妆品护肤品也
			挽回不出油烟毁灭性的伤害。
			</p>
			<p>厨房感染严重的家庭，儿童感冒咳嗽的发病率会超过50%，父母呼吸系统的发病率
			也呈相同趋势。
			</p>
			<p>油烟中含有一氧化碳、二氧化碳、氮氧化物以及具有强烈致癌性的笨并芘等许多
			对人体有严重危害的物质。
			</p>
		</div>
	</div>
	
	<div class="center_1">
		<div class="c_img">
			<img src = "__IMAGE__/c24.png"/>
		</div>
	</div>
	
	<div class="center_2">
		<span class="c2_span">活动时间：9月10号到9月30号</span>
		<div class="c2_addres">
			<div class ="c2_left"><span>活动区域：</span></div>
			<div class = "c2_right">
			天河区，海珠区，越秀区<br/>
			白云区(不含金沙洲/太和/竹料/石井)<br/>
			番禺区(只含金山高架以及洛溪方向)<br/>
		</div>
		</div>
	</div>
	
	<div class="main">
		<div class="m_left">
			<img src ="__IMAGE__/c3.png">
		</div>
		
		<div class = "m_right">
			<div class = "t1">
				<span class="span1">套餐1</span>
			</div>
			<div class = "t1">
				<span class="span2"><b>1台油烟机清洗</b></span>
				<span class="span3"><b>（不拆机）</b></span>
			</div>
			
			<div class = "t2">
				<div class="t2_1">
					<span class="span4"><b>118</b></span>
					<span class="span5">元</span><br/>
					<span class="span6">原价：150元</span>
				</div>
				<div class="t2_1">
					<div class="btn">
						<img src = "__IMAGE__/c6.png">
						<span>立即下单</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="main">
		<div class="m_left">
			<img src ="__IMAGE__/c4.png">
		</div>
		
		<div class = "m_right">
			<div class = "t1">
				<span class="span1">套餐2</span>
			</div>
			<div class = "t1">
				<span class="span2"><b>一台油烟机+灶具清洗</b></span>
				<span class="span3"><b>（不拆机）</b></span>
			</div>
			
			<div class = "t2">
				<div class="t2_1">
					<span class="span4"><b>148</b></span>
					<span class="span5">元</span><br/>
					<span class="span6">原价：195元</span>
				</div>
				<div class="t2_1">
					<div class="btn">
						<img src = "__IMAGE__/c6.png">
						<span>立即下单</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="main">
		<div class="m_left">
			<img src ="__IMAGE__/c5.png">
		</div>
		
		<div class = "m_right">
			<div class = "t1">
				<span class="span1">套餐3</span>
			</div>
			<div class = "t1">
				<span class="span2"><b>一台油烟机+电热水器清洗</b></span><br/>
				<span class="span7"><b>（不拆机）</b></span>
			</div>
			
			<div class = "t2">
				<div class="t2_1">
					<span class="span4"><b>188</b></span>
					<span class="span5">元</span><br/>
					<span class="span6">原价：245元</span>
				</div>
				<div class="t2_1">
					<div class="btn">
						<img src = "__IMAGE__/c6.png">
						<span>立即下单</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer">
	<span>足不出户 一站式服务</span>
	<div class="c_img">
		<img src = "__IMAGE__/erweima.png"/>
	</div>
	<span>长按以下二维码以关注家电医生公众号哦！</span>
	<br/>
</div>	
</body>
</html>