<taglib name="test"/>
<!DOCTYPE html>
<html lang="en" xmlns:html="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--
        <script type="text/javascript" src="__PUBLIC__/js/selec.js"></script>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/selec.css"/>

        <import type="js" file="js.selec" basepath="./Common"/>
        <import type="css" file="css.selec"/>

        <load href="__PUBLIC__/js/selec.js"/>
        <load href="__PUBLIC__/css/selec.css"/>

        <js href="__PUBLIC__/js/selec.js"/>
        <css href="__PUBLIC__/css/selec.css"/>
    -->
</head>
<body>
<!--
    <if condition="$user eq '蜡笔小新'">
        小新
        <elseif condition="$user eq '小新'"/>
            一护
        <else/>
         错误
    </if>
    <if condition="mb_substr($user,0,3,'UTF-8') eq '蜡笔小新'">小新</if>
    <if condition="$data.user eq '蜡笔小新'">小新</if>
    <if condition="$data['user'] eq '蜡笔小新'">小新</if>
    <if condition="$data.user eq '蜡笔小新'">小新</if>
    <if condition="$Think.get.user eq '蜡笔小新'">小新</if>
    <switch name="user">
        <case value="蜡笔小新">小新</case>
        <case value="黑崎一护">一护</case>
        <default/>错误
    </switch>
    <eq name="user" value="蜡笔小新">小新</eq>
    <compare name="user" value="蜡笔小新" type="eq">小新</compare>

    <in name="id"  value="1,2,3">
        id是其中一个
        <else/>
        id不是其中一个
    </in>
    <between name="id" value="1,10">id在指定的范围内</between>
    <notbetween name="id" value="1,10">id在指定的范围内</notbetween>

    <between name = "id" value="1,10">
        id在指定的范围内
        <else/>
        id不在指定的范围内
    </between>
    <range name="id" value="1,2,3" type="in">id是其中一个</range>

    <range name="id" value="1,2,3" type="in">id是其中一个
        <else/>
        id不是其中一个
    </range>

    <in name="Think.get.id" value="1,2,3">id是其中一个</in>

    <in name="id" value="$Think.get.arr">id是其中一个</in>

    <present name="user">user已存在</present>
    <notpresent name="user">user不存在</notpresent>
    <present name="user">user已存在
        <else/>
        user不存在
    </present>
    <present name="Think.get.user">$_GET['user']已存在</present>

     <ul>
        <volist name="data" id="arr" >
            <li>{$arr.id} -- {$arr.name} -- {$arr.email}</li>
        </volist>
    </ul>

     <ul>
        <volist name="data" id="arr" key="k">
            <li>{$k}.{$arr.id} -- {$arr.name} -- {$arr.email}</li>
        </volist>
    </ul>

    ul>
        <volist name="data" id="arr" key="k" mod="2">
            <eq name="mod" value="1">
                <li>{$k}.{$arr.id} -- {$arr.name} -- {$arr.email}</li>
            </eq>
        </volist>
    </ul>

    <ul>
        <volist name="data" id="arr" >
            <li>{$i}.{$arr.id} -- {$arr.name} -- {$arr.email}</li>
        </volist>
    </ul>

    <ul>
        <volist name="data" id="arr" >
            <li>{$key}.{$arr.id} -- {$arr.name} -- {$arr.email}</li>
        </volist>
    </ul>

    <ul>
        <volist name="data" id="arr" empty="没有数据">
            <li>{$key}.{$arr.id} -- {$arr.name} -- {$arr.email}</li>
        </volist>
    </ul>

    <ul>
        <volist name="data" id="arr" empty="$empty">
            <li>{$key}.{$arr.id} -- {$arr.name} -- {$arr.email}</li>
        </volist>
    </ul>

    <ul>
        <foreach name="data" item="arr">
            <li>{$key}.{$arr.id} -- {$arr.name} -- {$arr.email}</li>
        </foreach>
   </ul>

   <for start="1" end="100" comparison="lt" step="2" name="k">
        {$k}<br/>
    </for>

     <assign name="var" value="123"/>
    {$var}
    //模板变量
    <define name="MY_NAME" value="456"/>
    {$Think.const.MY_NAME}
    //模板常量

    <php>
        echo 1+2;
    </php>

    <?php
        echo 1+3;
    ?>

    <literal>
        <php>
            echo 1+2;
        </php>
    </literal>

    <html:select options="name" selected="value"/>
-->

    <test:mytest color="red" border="5">测试标签</test:mytest>
</body>
</html>